
/*-----------------CSS GRID------------------------*/
.span1 {width: 240px}
.span2 {width: 480px}
.span3 {width: 720px}
.span4 {width: 960px}

[class*="span"] {
	float: left;
	display: inline;
}

[class*="span"]:last-child {
	margin-right: 0;
	float: right;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/*--------------Main part-----------*/

* {
	transition: all 0.01s;
	box-sizing: border-box;
	font: 13px 'Montserrat', Arial, sans-serif;
	/*outline: 0.1px dashed red;*/
	margin:0;
	padding: 0;
}

body {
	background-color: #f6f6f6;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	float: left;
	display: inline;
}

/*-----------Header-----------*/

.logo-box {
	position: absolute;
}

.first-line {
	min-height: 80px;
	background-color: #353c3e;
}

.second-line {
	min-height: 65px;
	background-color: #40494c;
	border-bottom: 3px solid #040505;
}

.head-text p {
	text-align: right;
	line-height: 60px;
	color:#959595;
	margin:15px 7px 0 0;
	font-style: italic;
	font-weight: 500;
}

.first-men {
	float: left;
}

ul.main-menu {
	padding: 23px 0 0 0;
}

.main-menu a {
	text-transform: uppercase;
	color:#717b7e;
	margin: 0 18px 0 8px;
}

.main-menu li:nth-child(2) a { 
	color:#ffffff;
}

.main-menu a:hover,
.main-menu a:active {
	color:#ffffff;
}

.search-area {
	width: 240px;
	height: 62px;
	background-color: #3c4345;
}

input.search-input {
	background-color: #3c4345;
	border:none;
	color: #717b7e;
	width: 115px;
	margin: 23px 0px 0 60px;
}

input.search-input::-webkit-input-placeholder {
  color: #717b7e;
}

input.search-input:focus {
	outline: 0;
  	background: #3c4345;
  	color: #717b7e;
}

.search-area button {
	vertical-align: top;
	background-color: #3c4345;
	border:none;
	color: #717b7e;
	padding-top: 20px;
	margin:0;
}

.search-area button:enabled {
	outline: 0;
  	background: #3c4345;
}

/*--------------Slide area---------*/

.slider-area {
	margin: 22px auto;
	padding: 0 40px;
	text-align: center;
	position: relative;
}

.slider-area img {
	width: 100%;
	height:auto; 
}

a.left-button {
	display: inline-block;
	font: 60px 'Quicksand', Arial, sans-serif;
	color: #959595;
	width: 40px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	left: 0%;
	z-index: 1;
}

a.right-button {
	display: inline-block;
	font: 60px 'Quicksand', Arial, sans-serif;
	color: #959595;
	width: 40px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	right: 0%;
	z-index: 1;
}

a.left-button:hover,
a.right-button:hover {
	color: black;
}

.main-title {
	display: inline-block;
	position: absolute;
	text-align: center;
	z-index: 1;
	width: 370px;
	height: 248px;
	top: 50%;
	left: 50%;
	margin-left: -185px;
	margin-top: -124px;
	padding: 0 5px;
}

.main-title h1 {
	font: 51px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #464646;
	line-height: 43px;
	font-weight: bold;
	letter-spacing: 0px;
	z-index: 1;
}

span.orange {
	font: 51px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 43px;
	font-weight: bold;
	z-index: 1;
}

.main-title p {
	font: 13px 'Montserrat', Arial, sans-serif;
	color: #959595;
	line-height: 22px;
	margin: 15px 0 0 0;
	z-index: 1;
}

/*--------------Content area-----------*/

.data {
	width: auto;
	height: auto;
	margin: 0;
	padding:0;
}

h2.second-title {
	display: inline-block;
	font: 24px 'Montserrat', Arial, sans-serif;
	color: #777777;
	line-height: 45px;
	text-align: center;
	margin: 2px 0 0 21px;
}

p.title-notes {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #cccccc;
	line-height: 25px;
	text-align: center;
	margin:11px 120px 11px 120px;
}

/*----------Content----------*/
   
   /*---- First row-----*/

.row1, 
.row2 {
	margin-top: 20px;
}

a.left,
a.right {
	font: 25px 'Quicksand', Arial, sans-serif;
	font-weight: bold;
	color: #959595;
}

a.left:hover,
a.right:hover {
	color: black;
}

a.left {
	margin-left: 915px;
}

a.left {
	margin-right: 5px;
}

.content1,
.content2 {
	padding-right: 10px;
	width: 960px;
	height: 510px;
}

.block1 {
	width: 190px;
	height: auto;
}
.block1 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #353c3e;
	margin-top: 11px;
	margin-bottom: 5px;
}

.block1 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	line-height: 21px;
	margin-top: 0;	
}

.block2 {
	width: 230px;
	height: 489px;
	margin: 15px 0 0 50px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff; 
}

.block2 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 9px;
	padding-right: 23px;
}

.block2 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left:39px;
}

.block3 {
	width: 230px;
	height: 489px;
	margin: 15px 9px 0 10px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff; 
}

.block3 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	margin-top: 24px;
	margin-bottom: 9px;
	padding-left: 40px;
}

.block3 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left:40px;
}

.block4 {
	width: 230px;
	height: 489px;
	margin-top:15px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff;
}

.block4 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 25px;
	margin-top: 21px;
	padding-left: 39px;
	margin-bottom: 12px;
}

.block4 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left: 39px;
}

/*-------Second row---------*/

.block5 {
	width: 190px;
	height: auto;
}
.block5 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #353c3e;
	margin-top: 10px;
	margin-bottom: 5px;
}

.block5 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	line-height: 21px;
	margin-top: 0;	
}

.block6 {
	width: 230px;
	height: 489px;
	margin: 13px 0 0 50px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff; 
}

.block6 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 25px;
	margin-top: 21px;
	padding-left: 40px;
}

.block6 h4 {
	font: 12px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #555555;
	line-height: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 40px;
}

.block6 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left:41px;
}

.block7 {
	width: 230px;
	height: 489px;
	margin: 13px 0px 0 12px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff; 
}

.block7 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 25px;
	margin-top: 21px;
	padding-left: 40px;
}

.block7 h4 {
	font: 12px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #555555;
	line-height: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 39px;
}

.block7 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left:40px;
}

.block8 {
	width: 230px;
	height: 489px;
	margin-top:13px;
	border-bottom: 3px solid #eaeaea;
	background-color: #ffffff;
}

.block8 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 25px;
	margin-top: 21px;
	padding-left: 40px;
}

.block8 h4 {
	font: 12px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #555555;
	line-height: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 40px;
}

.block8 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 150px;
	line-height: 21px;
	margin-left: 40px;
}

/*-----------Third Line-------*/

.contbox1 {
	width: 240px;
	height: 249px;
	margin: 18px 0 0 0;
	background-color: #ffffff;
	border-bottom: 3px solid #eaeaea;
}

.contbox1 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	color: #f26c4f;
	margin-top: 39px;
	margin-left: 40px;
}

.contbox1 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 151px;
	line-height: 21px;
	margin-left: 40px;
	margin-top: 10px;
}

.contbox2 {
	width: 230px;
	height: 249px;
	margin: 17px 0 0 0;
	background-color: #f26c4f;
	border-bottom: 3px solid #eaeaea;
	position: relative;
}

.mechan { 
	width: 30px;
	height: 30px;
	background-image: url('images/icons.png');
	background-repeat: no-repeat;
	background-position: 2px -15px;
	position: absolute;
	left: 100px;
	top: 110px;
 }
.contbox3 {
	width: 234px;
	height: 249px;
	margin: 17px 0 0 15px;
	background-color: #ffffff;
	border-bottom: 3px solid #eaeaea;
}

.contbox3 h3 {
	font: 16px 'Montserrat', Arial, sans-serif;
	color: #f26c4f;
	margin-top: 37px;
	margin-left: 34px;
	line-height: 25px;
}

.contbox3 p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #8f8f8f;
	display: inline-block;
	width: 151px;
	line-height: 21px;
	margin-left: 35px;
	margin-top: 12px;
}

.contbox4 {
	width: 230px;
	height: 249px;
	margin: 17px 0 0 0;
	background-color: #353c3e;
	border-bottom: 3px solid #eaeaea;
	position: relative;
}

.foto { 
	width: 37px;
	height: 30px;
	background-image: url('images/icons.png');
	background-repeat: no-repeat;
	background-position: -25px -15px;
	position: absolute;
	left: 98px;
	top: 108px;
 }

.row3 {
	padding-right: 10px;
}

/*-----Footer-----*/

.footer {
	position: relative;
}

.footer h5 {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #777777;
	position: absolute;
	right: 10px;
	top: 41px;
}

.footer p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #bebebe;
	position: absolute;
	line-height:20px;
	text-align: right;
	width: 548px;
	margin-top: 75px;
	margin-left: 402px;
}

/*------Media queris-----*/


@media screen and (max-width: 1025px) {
.main-title h1 {
	font: 41px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #464646;
	line-height: 43px;
	font-weight: bold;
	letter-spacing: 0px;
	z-index: 1;
}

span.orange {
	font: 41px 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 43px;
	font-weight: bold;
	z-index: 1;
}

.main-title p {
	font: 12px 'Montserrat', Arial, sans-serif;
	color: #959595;
	line-height: 22px;
	margin: 15px 0 0 0;
	z-index: 1;
}
}